#gallery {
    width: 450px;
    text-align: center;
    margin: 0 auto;
}

.image-sliders {
    position: relative;
    height: 300px;
}

.image-sliders img {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: linear;
    height: 100%;
}

.image-sliders img.show {
    opacity: 1;
}

.prev_b, .next_b {
    padding: 5px;
    margin: 0px 30px;
    outline: 2px solid #666;
    cursor: pointer;
}

.prev_b:hover, .next_b:hover {
    background: cornflowerblue;
    border-radius: 5px;
}
